@charset "UTF-8";
/*--- Основные настройки ---*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "Corporate-A";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Corporate-A-Bold.woff2") format("woff2"), url("../fonts/Corporate-A-Bold.woff") format("woff");
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(180deg, #070a1b 0%, #2a3170 100%);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.social__list {
  display: flex;
}
.social__item + .social__item {
  margin-left: 30px;
}
@media (max-width: 768px) {
  .social__item + .social__item {
    margin-left: 5px;
  }
}
@media (max-width: 425px) {
  .social__item + .social__item {
    margin-left: 0;
  }
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background 0.3s;
}
.social__link:hover {
  background: #c1a1d2;
}
@media (max-width: 768px) {
  .social__link {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 425px) {
  .social__link {
    width: 35px;
    height: 35px;
  }
}
.social__img img {
  max-width: 100%;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  color: #f402a2;
  text-transform: uppercase;
  font-family: "Corporate-A", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

.btn {
  display: block;
  font-family: "Corporate-A", sans-serif;
  text-transform: uppercase;
  min-height: 22px;
  padding: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #f402a2;
  border: 1px solid #f402a2;
  transition: all 0.3s;
}
.btn:hover {
  border-color: #53a1cb;
  color: #53a1cb;
}

/*--- Переменные и плагины ---*/
/*--- Секции---*/
/*--- Header ---*/
.header {
  position: relative;
}
.header__body {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__body {
    min-height: 70px;
  }
  .header__body > *:not(:last-child) {
    margin-right: 15px;
  }
}
@media (max-width: 425px) {
  .header__body > *:not(:last-child) {
    margin-right: 5px;
  }
}
.header__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background 0.3s;
}
.header__menu-btn:hover {
  background: #c1a1d2;
}
.header__logo {
  margin-left: 155px;
}
@media (max-width: 768px) {
  .header__logo {
    margin-left: 0;
  }
  .header__logo img {
    width: 100%;
  }
}
.menu__list {
  position: absolute;
  z-index: 55;
  left: -100%;
  top: 100px;
  padding-top: 100px;
  background: rgba(7, 10, 27, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: left 0.3s;
}
@media (max-width: 768px) {
  .menu__list {
    top: 70px;
    overflow: scroll;
    padding: 25px;
  }
}
.menu__item {
  line-height: 120%;
  font-size: 24px;
}
.menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.menu__link {
  transition: all 0.3s;
}
.menu__link:hover {
  color: #c1a1d2;
  text-decoration: underline;
}

.active {
  left: 0;
}

.first {
  position: relative;
}
@media (max-width: 768px) {
  .first {
    padding-top: 50%;
  }
}
.first__image {
  /* чтобы картинка была фоном */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.first__image img {
  -o-object-position: top;
     object-position: top;
}
.first__body {
  position: relative;
  z-index: 2;
  /*чтобы достать контент из под картики*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 100px);
}
@media (max-width: 768px) {
  .first__body {
    height: 100%;
  }
}
.first__body > *:not(:last-child) {
  margin-bottom: 5px;
}
.first__body::after {
  content: "";
  display: block;
  background: url("../img/first/icon-logo.svg") center/cover no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -25px;
}
.first__title {
  font-family: "Corpotate-A", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media (max-width: 768px) {
  .first__title {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .first__title {
    font-size: 30px;
  }
}
.first__subtitle {
  margin-bottom: 49px;
  line-height: 120%;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.concept {
  padding: 150px 0;
}
@media (max-width: 768px) {
  .concept {
    padding: 50px 0;
  }
}
.concept__body {
  max-width: 900px;
  margin-left: auto;
}
.concept__body > *:not(:last-child) {
  margin-bottom: 25px;
}
.concept__text {
  font-size: 24px;
  line-height: 120%;
}
@media (max-width: 768px) {
  .concept__text {
    font-size: 16px;
  }
}
.concept__image {
  position: relative;
  padding-bottom: 55.56%;
}
.premier {
  padding-bottom: 150px;
}
@media (max-width: 768px) {
  .premier {
    padding-bottom: 50px;
  }
}
.premier__body {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 768px) {
  .premier__body {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.premier__column > *:not(:last-child) {
  margin-bottom: 25px;
}
.premier__text {
  line-height: 120%;
}
.premier__image--small {
  padding-bottom: 70.18%;
}
.premier__image--big {
  padding-bottom: 124%;
}
.premier__image--big img {
  -o-object-position: left;
     object-position: left;
}
.premier__btn {
  width: 100%;
}

.video-block {
  padding-bottom: 150px;
}
@media (max-width: 768px) {
  .video-block {
    padding-bottom: 50px;
  }
}
.video-block__body > *:not(:last-child) {
  margin-bottom: 25px;
}
.video-block__video-wrapper {
  position: relative;
  aspect-ratio: 16/9;
}
.video-block__video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-block__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-block__button svg {
  margin-top: -5px;
  margin-right: 10px;
}
.video-block__button path {
  transition: fill 0.3s;
}
.video-block__button:hover path {
  fill: #53a1cb;
}

.interior {
  margin-bottom: 100px;
}
.interior__body {
  display: grid;
  grid-template-columns: 255px 255px auto 330px;
  grid-template-rows: 450px auto;
  gap: 14px 44px;
}
@media (max-width: 768px) {
  .interior__body {
    display: block;
  }
}
.interior__item--text-big {
  grid-row: 1/3;
}
.interior__item--text-big > *:not(:last-child) {
  margin-bottom: 25px;
}
.interior__text {
  line-height: 120%;
}
.interior__item--image-big {
  grid-column: 2/5;
  position: relative;
}
.interior__item--image-big img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .interior__item--image-big {
    padding: 25px 0;
  }
}
.interior__item--text-small {
  grid-row-end: -1;
  display: flex;
  align-items: flex-end;
}
.interior__item--image-small {
  grid-column-end: -1;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .interior__item--image-small {
    padding-top: 25px;
  }
  .interior__item--image-small img {
    width: 100%;
  }
}

.slider {
  padding-bottom: 45px;
}
.slider__item {
  margin: 0 30px;
}
@media (max-width: 768px) {
  .slider__item {
    max-width: 100%;
  }
}
.slider__item img {
  max-width: 100%;
}
.slider__prev {
  transform: translateX(-80px);
}
.slider__next {
  transform: translateX(30px);
}

.slick-track {
  margin-left: -140px;
}
@media (max-width: 768px) {
  .slick-track {
    margin-left: 0;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 10;
  bottom: -45px;
  cursor: pointer;
  left: 50%;
}

.info__body {
  max-width: 560px;
  display: flex;
  justify-content: center;
  margin: 150px auto;
  gap: 60px;
}
@media (max-width: 768px) {
  .info__body {
    margin: 50px auto;
    flex-direction: column;
    gap: 30px;
  }
}
.info__descr {
  flex: 0 1 50%;
}
.info__descr > *:not(:last-child) {
  margin-bottom: 25px;
}
.photo-section__image {
  position: relative;
  padding-bottom: 47%;
}
.footer {
  background: #070a1b;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
}
@media (max-width: 768px) {
  .footer__body {
    padding: 25px 0;
    flex-direction: column;
    min-height: 200px;
  }
}
.footer__policy-link {
  transition: all 0.3s;
}
.footer__policy-link:hover {
  color: #c1a1d2;
  text-decoration: underline;
}