.main-page {
	&__premier {
	}
}
.premier {
	padding-bottom: 150px;
	@media (max-width: 768px) {
		padding-bottom: 50px;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		gap: 60px;
		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__column {
		& > *:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__title {
	}

	&__text {
		line-height: 120%;
	}

	&__image {
		&--small {
			padding-bottom: 70.18%;
		}
		&--big {
			padding-bottom: 124%;
			img {
				object-position: left;
			}
		}
	}

	&__img {
	}

	&__btn {
		width: 100%;
	}
}
